{% extends "base.html" %}
{% load static %}
{% block title %}Combo Builder Prototype: {{ character.name }}{% endblock %}

{% block content %}
    this combo is for {{ combo.character.name }} in {{ combo.character.game.name }}.
<div class="row">
    <div class="col-6">
      <i>the inputs below can be reordered via drag and drop.</i>
        {% if inputs %}
            <ul class='comboarea'>
                {% for input in inputs %}
                    <li data-id={{ input.id }}><button class="btn btn-success">{{ input.command.text }}</button></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div><!-- end active combo area -->

    <div class="col-6">
        <i>click the buttons below to add new inputs to the combo on the left.</i>
        {% if commands %}
            <ul class='commandarea'>
                {% for command in commands %}
                    <li><button class="btn btn-primary command" command-id={{ command.id }}>{{ command.text }}</button></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div><!-- end command area -->
</div>
{% endblock content %}

{% block extra-js %}
    <script src="{% static 'javascript/jquery-sortable.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
    // get the Django CSRF Cookie
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Ensure jQuery AJAX calls set the CSRF header to prevent security errors
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Make our ordered list with a class of example sortable.
    // onDrop (reorder item) make a JSON representation of the list and POST
    // the JSON to the current page
    var group = $("ul.comboarea").sortable({
        delay: 500,
        onDrop: function ($item, container, _super) {
            var data = group.sortable("serialize").get();
            var jsonString = JSON.stringify(data, null, ' ');
            _super($item, container);
            $.ajax({
                type: "POST",
                data: jsonString,
                url: ""
            });
        },
    });

    $(document).ready(function(){
          $(".command").on('click',function() {
              var jsonString = JSON.stringify( $(this).attr('command-id') );
              var url = $(this).attr('href');
              $.ajax({
                  type: "PUT",
                  data: jsonString,
                  url: url
              });
              // TODO: I need a way to capture the new Input object and add it
              // to the comboarea column.
          });
      });
    </script>
{% endblock extra-js %}
